In [31]:
class Student:
    pass  
print(type(Student))

<class 'type'>

In [32]:
class Dog:
    # A simple class 
    # attribute
    
    attr1 = "This ia a Variable1"
    attr1 = "I'm from function This is Variable1"
    def fun(self):
        print(self.attr1)
        print(self.attr2)
        
        Rodger = Dog()
        
        print(Rodger.attr1)
        Rodger.fun()

In [33]:
# Python3 program to
# demonstrate instantiating
# a class
 
 
class Dog:
 
    # A simple class
    # attribute
    attr1 = "mammal"
    attr2 = "dog"
 
    # A sample method
    def fun(self):
        print("I'm a", self.attr1)
        print("I'm a", self.attr2)
 
 
# Driver code
# Object instantiation
Rodger = Dog()
 
# Accessing class attributes
# and method through objects
print(Rodger.attr1)
Rodger.fun()

mammal
I'm a mammal
I'm a dog

In [34]:
# Python3 program to
# demonstrate instantiating
# a class
 
 
class Dog:
 
    # A simple class
    # attribute
    attr1 = "mammal"
    attr2 = "dog"
 
    # A sample method
    def fun(self):
        print("I'm a", self.attr1)
        print("I'm a", self.attr2)
 
 
# Driver code
# Object instantiation
Rodger = Dog()
 
# Accessing class attributes
# and method through objects
print(Rodger.attr1)

mammal

Create a class with one static variable and two instace variablesÂ¶

In [35]:
# A Sample class with init method

class student:
    
    def __init__(self, test_name, test_salary):
        self.name = test_name
        self.age = test_salary
        
    def get_detials(self):
        
        print('i am inside the get_detials method')
        print(f'Detials of student are{self.name}, {self.age}')

In [36]:
class student(person):
    
    def __init__(self, Name, Age, Rollno):
        super().__init__(Name, Age)
        
        self.rno = Rollno
        
    def attending_lecture(self):
        print(f'{self.name} is attending alecture')
    def speak(self):
        print(f'{self.name} is student and he is speaking')

NameError: name 'person' is not defined

In [ ]:
class empy():
    def __init__(self, name, salary):
        self.name = name
         
        self.salary = salary
    def earn(self):
        pass
class childempy1(empy):
    def__init__(self, name, salary):
        self.name = name

        self.salary = salary
        class empy2(empy):
            def__init__(self, name, salary):
                self.name = name
                
                self.salary = salary
                
    emp1 = empy1('Zara', 2000),
    emp2 = empy2('manni', 3000)

In [42]:
class empy1():
    def __init__(self, name, salary):
        self.name = name
        
        self.salary = salary
        
class empy2(empy1):
    def __init__(self, name, salary):
        
        self.name = name
        
        self.salary = salary
class empy3(empy2):
    def __init__(self, name, salary):
        
        self.name = name
        
        self.salary = salary

In [59]:
emp1 = empy1('neha', 3000)
emp2 = empy2('neh', 2000)
total  = 2

In [57]:
emp1.salary

3000

In [54]:
emp2.salary

2000

In [58]:
total

2

In [60]:
class Vehicle:

    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

In [63]:
class Vehicle:

    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

class Bus(Vehicle):
    pass

School_bus = Bus("School Volvo", 180, 12)
print("Vehicle Name:", School_bus.name, "Speed:", School_bus.max_speed, "Mileage:", School_bus.mileage)

Vehicle Name: School Volvo Speed: 180 Mileage: 12