In [1]:
#SYNTAX:

if expression:
    block_of_code

NameError: name 'expression' is not defined

In [2]:
number = int(input("Enter the number"))
if number < 10:
    print("Number is:", number)
    
    print('end')

Enter the number5
Number is: 5
end

In [3]:
a = 5
if (a==5):
    print('a is 5')
print('end')

a is 5
end

In [4]:
print('start')

if False:
    print('i will never reach here')
    
if True:
    print('I reach always')
    
print('end')

start
I reach always
end

In [5]:
bool()

False

In [6]:
bool(3144)

True

In [7]:
bool(-1)

True

In [8]:
#if ..else statement example
x = 3
if x== 4:
    print("yes")
else:
    print("No")

No

In [9]:
#if ..else chain statement example

letter = "A"
if letter == "B" :
    print("letter is B")
else:
    if letter == "A" :
            print("letter is A")
    else:
         print("letter is not A, B and C")

letter is A

In [10]:
# Nested if statement example

num = 10

if num > 5:
    print ("Bigger than 5")
    if num <= 15:
        print("Between 5 and 15")

Bigger than 5
Between 5 and 15

# For

In [11]:
n= 5;
for i in range(n):
    for j in range (i):
        print('*', end= "")
    print('')
    
for i in range (n, 0, -1):
    for j in range(i):
        print('*', end="")
    print('')

*
**
***
****
*****
****
***
**
*

In [12]:
n= 5;
for i in range(n):
    for j in range (i):
        print('*', end= "")
    print('')
    
for i in range (n, 0, +1):
    for j in range(i):
        print('*', end="")
    print('')

*
**
***
****

In [13]:
word = input("Input a word to reverse:")

for char in range(len(word) -1,-1,-1):
    print(word[char], end="")
print("\n")

Input a word to reverse:welcome
emoclew

In [14]:
number = 10

if number > 0:
    print('positive number')
    
else:
    print('Negative number')
    
print('this statement is always executed')

positive number
this statement is always executed

In [15]:
#python program for printing

for i in range (0, 6):
    for j in range(0, i+1):
        print("*", end="")
    print()

*
**
***
****
*****
******

In [16]:
a = 8
for i in range (0, 5):
    for j in range(0, a):
        print(end=" ")
    a = a-2
    for j in range(0, i+1):
        print("* ", end="")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [17]:
num = int(input("Enter the range: \t "))

for i in range(num):
    for j in range((num -i) -1):
        print(end=" ")
    for j in range(i + 1):
        print("*", end=" ")
    print()

Enter the range: 	 6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [18]:
k = 16
l = 1

for i in range(0, 5):
    for j in range(0, k):
        print(end=" ")
    k = k - 4
    
    for j in range(0, l):
        print("* ", end="")
    l = l + 2
    print()

                *
            * * *
        * * * * *
    * * * * * * *
* * * * * * * * *

# Numeric pattern

In [19]:
k = 1
for i in range(0, 5):
    for j in range(0, i+1):
        print(k, end=" ")
        k = k+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [20]:
for i in range (0, 5):
    num = 1
    for j in range(0, i+1):
        print(num, end=" ")
        
        num = num+1
        
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [21]:
numb = 1
inc = 1
for i in range(0, 5):
    for j in range(0, inc):
        print(numb, end=" ")
        numb = numb + 1
    print()
    inc = inc + 2

1
2 3 4
5 6 7 8 9
10 11 12 13 14 15 16
17 18 19 20 21 22 23 24 25

In [22]:
for num in range(10):
    for i in range(num):
        print (num, end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [23]:
last_num = 7
for row in range(1, last_num):
    for column in range(row, 0,-1):
        print(column, end=' ')
    print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1

In [24]:
last_num = 9

for i in range(1, last_num):
    for j in range(-1+i, -1, -1):
        print(format(2**j, "4d"), end=' ')
    print(" ")

   1
   2    1
   4    2    1
   8    4    2    1
  16    8    4    2    1
  32   16    8    4    2    1
  64   32   16    8    4    2    1
 128   64   32   16    8    4    2    1

In [25]:
stop = 2
start = 1

current_num = stop

for row in range(2, 6):
    for col in range(start, stop):
        current_num -= 1
        print(current_num, end=' ')
    print("")
    start = stop
    stop += row
    current_num = stop

1
3 2
6 5 4
10 9 8 7

In [26]:
value = 65
for i in range(0, 5):
    for j in range(0, i+1):
        ch = chr(value)
        print(ch, end=" ")
        value = value + 1
    print()

A
B C
D E F
G H I J
K L M N O

In [27]:
value = 65
for i in range(0, 5):
    for j in range(0, i+1):
        ch = chr(value)
        print(ch, end=" ")
    value = value + 1
    print()

A
B B
C C C
D D D D
E E E E E

In [28]:
value = 65
inc = 1
for i in range(0, 5):
    for j in range(0, inc):
        ch = chr(value)
        print(ch, end=" ")
        value = value + 1
    inc = inc + 2
  
    print()

A
B C D
E F G H I
J K L M N O P
Q R S T U V W X Y

In [29]:
decrement = 8
counter = 64
value = 65

for i in range(0, 5):
    for k in range(0, decrement):
        print(end=" ")
    for j in range(0, i+1):
        counter = counter + 1
    value =  counter
    temp = value
    
    for j in range(0, i+1):
        ch = chr(value)
        print(ch, end=" ")
        value = value - 1
    value = temp
    decrement = decrement - 2
    print()

        A
      C B
    F E D
  J I H G
O N M L K

In [33]:
square_side = int(input("please enter the squre dimension : "))
print("Square pattern")
for i in range(square_side):
    for i in range(square_side):
        print("$", end = ' ')
    print()

please enter the squre dimension : 6
Square pattern
$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $

In [6]:
n=5
for i in range(n):
    for j in range(n):
        print('*', end= ' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [7]:
n=5
for i in range(n):
    for j in range(n+1):
        print('*', end=' ')
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [8]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [9]:
n = 5
for i in range(n):
    p=5
    for j in range(i+1):
        print(p, end=' ')
        p-=1
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [10]:
n=5
k=5
for i in range(n):
    p = k
    for j in range (i + 1):
        print(' ', end = ' ')
    for j in range (i, n):
        print(p, end = ' ')
        p-=1
    k-=1
    print()

  5 4 3 2 1
    4 3 2 1
      3 2 1
        2 1
          1

In [11]:
n = 5
for i in range(n):
    p = 1
    for j in range(i, n):
        print(' ', end=' ')
    for j in range(i):
        print(p, end=' ')
        p+=1
    for j in range(i+1):
        print(p, end=' ')
        p-=1
    print()

          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

In [ ]:
n = 5
p= 1
for i in range(n):
    for