In [3]:
i = 0

while (i < 10):
    
    i = i + 1
    
    if (i ==4):
        continue
        
        print(i)
        
print('out of while block')

out of while block

continue

In [6]:
i = 0

while (i < 10):
    
    i = i + 1
    
    if (i ==4):
        continue
        
        print(i)
        
print('out of while block')

out of while block

In [7]:
n = 0

end = 20
while(n<=end):
    
    if(n%2 ==0):
        print(n)
    n = n+1

0
2
4
6
8
10
12
14
16
18
20

In [8]:
a = [10,20,30]

print(a[0])
print(a[1])
print(a[2])

10
20
30

In [9]:
for i in a:
    print('current iteration started')
    print(i)
    print('current iteration completed')
    print('-----------------------------')
    
    print('The End')

current iteration started
10
current iteration completed
-----------------------------
The End
current iteration started
20
current iteration completed
-----------------------------
The End
current iteration started
30
current iteration completed
-----------------------------
The End

LOOP

In [10]:
t = (1,2,3)

for ele in t:
    print(ele)

1
2
3

In [11]:
range(5)

range(0, 5)

In [12]:
list(range(5))

[0, 1, 2, 3, 4]

In [13]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [15]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
a = [10,20,30]
for i in a:
    print(i)

10
20
30

In [18]:
for i in range(3):
    print("i=", i)
    print(a[i])

i= 0
10
i= 1
20
i= 2
30

In [19]:
for i in range(len(a)):
    #print("i=", i)
    print(a[i])

10
20
30

In [20]:
for i in range(len(a)):
    print(a[i])

10
20
30

In [22]:
number = [1,2,3,4,5,6,7,8,9,10]

even = []
odd = []

for n in numbers:
    if(n%2 == 0):
        even.append(n)
    else:
        odd.append(n)

NameError: name 'numbers' is not defined

In [27]:
number = [1,2,3,4,5,6,7,8,9,10]

even = []
odd = []
 
for n in numbers:
    if(n%2 ==0):
        even.append(n)
     else:
            odd.append(n)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 9)

In [29]:
print(even)
print(odd)

[]
[]

In [34]:
numbers = [1,2,3,4,5,6,7,8]

squares = []

for n in numbers:
    print(n**2)
    squares.append(n**2)
    
print(squares)

1
4
9
16
25
36
49
64
[1, 4, 9, 16, 25, 36, 49, 64]

# list com

In [35]:
numbers = [1,2,3,4,5]
squares = [n**2 for n in numbers]

print(squares)

[1, 4, 9, 16, 25]

res = [ i for i in range(11)]
res

In [36]:
res = [i for i in range(11)]
res

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
marks = [50,80,15,78,98]

cutoff = 50

grades = []

for m in marks:
    if(m>=cutoff):
        grades.append('pass')
    else:
        grades.append('fail')
        
grades

['pass', 'pass', 'fail', 'pass', 'pass']

In [40]:
grades.append('pass') if(m>=cutoff) else grades.append('fail')

In [42]:
marks = [50,80,15,78,98]

cutoff = 50

grades = ['pass' if(m>=cutoff) else 'fail' for m in marks]

grades

['pass', 'pass', 'fail', 'pass', 'pass']

# #For Loop

In [1]:
for i in range(5):
    print("*", end="")

*****

In [7]:
for i in range(5):
    for j in range(5):
        print("*", end="")
    print()

*****
*****
*****
*****
*****

In [1]:
for i in range(5):
    for j in range(5):
        print("*", end="")
    print()

*****
*****
*****
*****
*****

In [9]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end='')
    print('')

1
12
123
1234
12345

In [8]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end='*')
    print('')

1*
1*2*
1*2*3*
1*2*3*4*
1*2*3*4*5*

In [10]:
rows = 5 
b = 0
#revers for loop from 5 to 0
for i in range(rows, 0,-1):
    b += 1
    for j in range(1, i + 1):
        print(b, end='')
    print('\r')

11111
2222
333
44
5

In [11]:
rows = 5 
b = b
#revers for loop from 5 to 0
for i in range(rows, 0,-1):
    
    for j in range(1, i):
        print(b, end='')
    print('\r')

5555
555
55
5

In [13]:
rows = 5 
for i in range(rows, 0,-1):
    
    for j in range(1, i + 1):
        print(b, end='')
    print('\r')

55555
5555
555
55
5

In [14]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <=i:
        print((i*2-1), end="")
        j = j + 1
    i = i+1
    print('')

1
33
555
7777
99999

In [15]:
rows = 5
i = 1
while i <= rows:
    j = 1
    while j <=i:
        print((i*2-1), end="")
        j = j + 1
    i = i+1
    print('')

1
33
555
7777
99999

In [16]:
rows = 5
# reverse loop
for i in range(rows, 0, -1):
    num = i
    for j in range (0, i):
        print(num, end='')
    print("\r")

55555
4444
333
22
1

In [17]:
rows = 6
for i in range(1, rows):
    for j in range(i, 0, -1):
        print(j, end='')
    print("")

1
21
321
4321
54321

In [18]:
rows = 6
for i in range(rows +1, 0, -1):
    for j in range(0, i-1):
        print("*", end='')
    print("")

******
*****
****
***
**
*

In [25]:
rows = 5
k = 2*rows-2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end="")
    k = k + 1
    for j in range(0, i+1):
        print("*", end="")
    print("")

******
*****
****
***
**
*

In [26]:
rows = 5
for i in range(0, rows):
    for j in range(0, i+1):
        print("*",end='')
    print("\r")

*
**
***
****
*****

In [30]:
rows = 5
k = 2*rows-2
for i in range(rows, -1, -1):
    for j in range(k, 0, 1):
        print(end="")
    k = k + 1
    for j in range(0, i+1):
        print("*", end="")
    print("")

******
*****
****
***
**
*

In [33]:
rows = 5
for i in range(rows +1, 0, -1):
    for j in range(0, i-1):
        print("*",end='')
    print(" ")

*****
****
***
**
*

In [34]:
rows = 5
i = rows
while i >= 1:
    j = rows 
    while j>i:
        print('', end='')
        j -=1
    k = 1
    while k <= i:
        print('*', end = ' ')
        k += 1
    print()
    i -=1

* * * * *
* * * *
* * *
* *
*

In [37]:
print("print equilateral tingle pyramid using asterisk symbol")
size = 7
m = (2*size)-2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m-1
    for j in range(0, i+1):
        print("*", end='')
    print("")

print equilateral tingle pyramid using asterisk symbol
            *
           **
          ***
         ****
        *****
       ******
      *******