# INdexing and Slicing the dataframe

In [67]:
import pandas as pd

In [68]:
data = { 
    
    'col1':['a','b','c','d','e','f'],
    'col2': list('pqrstu')


}
data

{'col1': ['a', 'b', 'c', 'd', 'e', 'f'],
 'col2': ['p', 'q', 'r', 's', 't', 'u']}

In [69]:
list('pqrstu')

['p', 'q', 'r', 's', 't', 'u']

In [70]:
df = pd.DataFrame(data, index=[49,48,47,0,1,2])
df

   col1 col2
49    a    p
48    b    q
47    c    r
0     d    s
1     e    t
2     f    u

In [71]:
df =pd.DataFrame(data)
df

  col1 col2
0    a    p
1    b    q
2    c    r
3    d    s
4    e    t
5    f    u

In [72]:
l = [1,2,3]
l[0]

1

In [73]:
df.loc[49]  #label based indexing

KeyError: 49

In [74]:
df.iloc[0] #position based indexing

col1    a
col2    p
Name: 0, dtype: object

In [75]:
df

  col1 col2
0    a    p
1    b    q
2    c    r
3    d    s
4    e    t
5    f    u

In [76]:
df.loc[49:0]

Empty DataFrame
Columns: [col1, col2]
Index: []

In [77]:
df.iloc[0:4]

  col1 col2
0    a    p
1    b    q
2    c    r
3    d    s

In [78]:
df.iloc[0:4]

  col1 col2
0    a    p
1    b    q
2    c    r
3    d    s

# Slicing rows

# Slicing column

In [79]:
df

  col1 col2
0    a    p
1    b    q
2    c    r
3    d    s
4    e    t
5    f    u

In [80]:
df[['col1','col2']]

  col1 col2
0    a    p
1    b    q
2    c    r
3    d    s
4    e    t
5    f    u

In [81]:
type(df['col1'])

pandas.core.series.Series

In [82]:
df[['col1']]

  col1
0    a
1    b
2    c
3    d
4    e
5    f

In [83]:
type(df)

pandas.core.frame.DataFrame

In [84]:
df['col1']

0    a
1    b
2    c
3    d
4    e
5    f
Name: col1, dtype: object

In [ ]:
df[['col1', 'col2']]

Slicing/selecting the column as DF

In [85]:
df

  col1 col2
0    a    p
1    b    q
2    c    r
3    d    s
4    e    t
5    f    u

In [86]:
df.loc [#rows_slicing, column_slicing]

SyntaxError: unexpected EOF while parsing (1934091379.py, line 1)

In [87]:
df.iloc[#rows_slicing, column_slicing]

SyntaxError: unexpected EOF while parsing (3189363805.py, line 1)

In [88]:
df.iloc[0:4, 0:2]

  col1 col2
0    a    p
1    b    q
2    c    r
3    d    s

In [89]:
df = pd.read_csv('D:\Sandhya\Data-Science\csv\iris.csv')
df

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [90]:
df.iloc[0:4, 1:3]

   SepalWidth  PetalLength
0         3.5          1.4
1         3.0          1.4
2         3.2          1.3
3         3.1          1.5

In [91]:
df.loc[0:3, 'SepalLength':'SepalWidth']

   SepalLength  SepalWidth
0          5.1         3.5
1          4.9         3.0
2          4.7         3.2
3          4.6         3.1

In [92]:
df.loc[0:3, 'Name':'SepalLength']

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [93]:
df

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [94]:
df.iloc[1,2]

1.4

In [95]:
df.iloc[1:3]

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa

In [96]:
df.iloc[[1,2]]

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa

In [97]:
df.iloc[[1,2], [1,2]]

   SepalWidth  PetalLength
1         3.0          1.4
2         3.2          1.3

# Grouping data

In [99]:
df = pd.read_csv('D:/Sandhya/Data-Science/csv/loan_data_set.xls.csv')
df

FileNotFoundError: [Errno 2] No such file or directory: 'D:/Sandhya/Data-Science/csv/loan_data_set.xls.csv'