In [1]:
i = 0

while (i < 10):
    
    i = i + 1
    
    if (i ==4):
        continue
        
        print(i)
        
print('out of while block')

out of while block

continue

In [2]:
i = 0

while (i < 10):
    
    i = i + 1
    
    if (i ==4):
        continue
        
        print(i)
        
print('out of while block')

out of while block

In [3]:
n = 0

end = 20
while(n<=end):
    
    if(n%2 ==0):
        print(n)
    n = n+1

0
2
4
6
8
10
12
14
16
18
20

In [4]:
a = [10,20,30]

print(a[0])
print(a[1])
print(a[2])

10
20
30

In [5]:
for i in a:
    print('current iteration started')
    print(i)
    print('current iteration completed')
    print('-----------------------------')
    
    print('The End')

current iteration started
10
current iteration completed
-----------------------------
The End
current iteration started
20
current iteration completed
-----------------------------
The End
current iteration started
30
current iteration completed
-----------------------------
The End

LOOP

In [6]:
t = (1,2,3)

for ele in t:
    print(ele)

1
2
3

In [7]:
range(5)

range(0, 5)

In [8]:
list(range(5))

[0, 1, 2, 3, 4]

In [9]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [11]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
a = [10,20,30]
for i in a:
    print(i)

10
20
30

In [13]:
for i in range(3):
    print("i=", i)
    print(a[i])

i= 0
10
i= 1
20
i= 2
30

In [14]:
for i in range(len(a)):
    #print("i=", i)
    print(a[i])

10
20
30

In [15]:
for i in range(len(a)):
    print(a[i])

10
20
30

In [16]:
number = [1,2,3,4,5,6,7,8,9,10]

even = []
odd = []

for n in numbers:
    if(n%2 == 0):
        even.append(n)
    else:
        odd.append(n)

NameError: name 'numbers' is not defined

In [ ]:
number = [1,2,3,4,5,6,7,8,9,10]

even = []
odd = []
 
for n in numbers:
    if(n%2 ==0):
        even.append(n)
     else:
            odd.append(n)

In [ ]:
print(even)
print(odd)

In [ ]:
numbers = [1,2,3,4,5,6,7,8]

squares = []

for n in numbers:
    print(n**2)
    squares.append(n**2)
    
print(squares)

# list com

In [ ]:
numbers = [1,2,3,4,5]
squares = [n**2 for n in numbers]

print(squares)

res = [ i for i in range(11)]
res

In [ ]:
res = [i for i in range(11)]
res

In [ ]:
marks = [50,80,15,78,98]

cutoff = 50

grades = []

for m in marks:
    if(m>=cutoff):
        grades.append('pass')
    else:
        grades.append('fail')
        
grades

In [ ]:
grades.append('pass') if(m>=cutoff) else grades.append('fail')

In [ ]:
marks = [50,80,15,78,98]

cutoff = 50

grades = ['pass' if(m>=cutoff) else 'fail' for m in marks]

grades

code H

In [19]:
name = 'Sandhya'
for i in name:
    print(i)
    if(i=="a"):
        print("This is something special")

S
a
This is something special
n
d
h
y
a
This is something special

In [23]:
for k in range(5):
    print(k+1)

1
2
3
4
5

In [24]:
for k in range(1, 9):
    print(k)

1
2
3
4
5
6
7
8

In [25]:
for k in range(1, 12, 3):
    print(k)

1
4
7
10