single Inheritance

In [14]:
b.m2()

class B, method m2

In [15]:
b.m1()

Class A, method m1

In [16]:
a.m2()

AttributeError: 'A' object has no attribute 'm2'

In [17]:
#Multileve inheritance

In [19]:
class A:
    def m1(self):
        print("class A, method m1")
        
        
class B(A):
    def m2(self):
        print("class B, method m2")
        
class c(B):
    def m3(self):
        print("class c, method m3")

In [21]:
a =A()
b = B()
c = c()

In [22]:
a.m1()

class A, method m1

In [23]:
b.m2()

class B, method m2

In [24]:
c.m3()

class c, method m3

# Hierarchical inheritance

In [25]:
class A:
    def m1(self):
        print("class A, method m1")
        
class B(A):
    def m2(self):
        print("class B, method m2")
        
class C(B):
    def m3(self):
        print("class C, method m3")

In [26]:
a = A()
b = B()
c = C()

In [27]:
a.m1()

class A, method m1

In [28]:
b.m1()

class A, method m1

In [29]:
c.m1()

class A, method m1

In [30]:
a.m2()

AttributeError: 'A' object has no attribute 'm2'

In [31]:
b.m2()

class B, method m2

In [32]:
c.m3()

class C, method m3

In [34]:
c.m2()

class B, method m2

# Polymorphism

In [35]:
1+2

3

In [36]:
'hi+"hello"

SyntaxError: EOL while scanning string literal (4073323860.py, line 1)

In [37]:
'hi'+'hello'

'hihello'

In [38]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

In [39]:
len('hello')

5

Multiple inheritance

In [50]:
class A:
    def m1(self):
        print("class A, method m1")
        
class B(A):
    def m2(self):
        print("class B, method m2")
        
class C(B):
    def m3(self):
        print("class C method m3")

In [48]:
a = A()
b = B()
c = C()

In [49]:
a.m1()

class A, method m1

In [51]:
b.m1()

class A, method m1

In [52]:
c.m1()

class A, method m1

In [53]:
c.m2()

class B, method m2

In [55]:
b.m2()

class B, method m2

In [56]:
#Hierachical Inheritance

In [58]:
class A:
    def m1(self):
        print("class A, method m1")
        
class B(A):
    def m2(self):
        print("class B, method m2")
        
class C(A):
    def m3(self):
        print("class C, method m3")

In [59]:
a = A()
b = B()
c = C()

In [60]:
a.m1()

class A, method m1

In [61]:
b.m2()

class B, method m2

In [62]:
b.m3()

AttributeError: 'B' object has no attribute 'm3'

In [63]:
c.m1()

class A, method m1

In [64]:
c.m2()

AttributeError: 'C' object has no attribute 'm2'

In [66]:
c.m1()

class A, method m1

In [67]:
c.m2()

AttributeError: 'C' object has no attribute 'm2'

In [69]:
class A:
    def m1(self):
        print("class A, method m1")
        
class B:
    def m2(self):
        print("class B, method m2")
        
class C(A,B):
    def m3(self):
        print("class C, method m3")

In [70]:
a = A()
b = B()
c = C()

In [71]:
c.m1()

class A, method m1

In [72]:
c.m2()

class B, method m2

In [73]:
c.m3()

class C, method m3

METHOD OVERRIDING

In [ ]:
A->B

In [75]:
class person:
    
    def __init__(self, Name, Age):
        
        self.name = Name
        self.Age = Age
        
    def get_details(self):
        
        print("I am inside the get_details method")
        print(f'Details of person are {self.name}, {self.age}')
        
    def speak(self):
        
        print(f'{self.name} is speaking')

In [82]:
class student(person):
    
    def __init__(self, Name, Age, Rollno):
        super().__init__(Name, Age)
        
        self.rno = Rollno
        
    def attending_lecture(self):
        print(f'{self.name} is attending alecture')
    def speak(self):
        print(f'{self.name} is student and he is speaking')

In [83]:
s1 = student('ravi', 24, 124)

In [86]:
s1.name, s1.Age, s1.rno

('ravi', 24, 124)

In [87]:
s1.speak()

ravi is student and he is speaking

In [88]:
p1 =  person('akhil', 25)

In [90]:
p1.name, p1.Age

('akhil', 25)

Encapsulation

In [ ]:
class Sample:
    1. data
    2. Method

In [95]:
class person:
    
    def __init__(self, Name, Age):
        
        self.name = Name
        self.age = Age

In [96]:
p1 = person('akhil', 25)

In [98]:
p1.name, p1.age

('akhil', 25)

setters and Getter

In [110]:
class person:
    
    def __init__(self, Name, Age):
        
           self.name = Name
           
           
           
           
    def setName(self, Name):
        self.name = Name
            
    def setAge(self, Age):
        self.age = Age
            
    def getAge(self):
        return self.age
            
    def getAge(self):
        return self.name

In [111]:
p1 = person('akhil', 25)

In [112]:
p1.getAge()

'akhil'

Access method

In [115]:
class student:
    def __init__(self, Name, Age, Rno):
        
        self.name = Name #public
        self.__age = Age #private
        self._rno = Rno #protect 
        
    def setAge(self, Age):
        self.__age = Age
        
    def setName(self, Age):
        self.name = Name
        
    def getAge(self):
        return self.__age
    
    def getName(self):
        return self.name
    
    def getRno(self, Rno):
        self._rno = Rno
        
    def getRno(self):
        return self._rno

In [116]:
p1 = person('akhil',25)

In [118]:
p1.name

'akhil'

In [120]:
p1.Age

AttributeError: 'person' object has no attribute 'Age'

Abstraction

In [121]:
len('hello')

5

In [128]:
from  abc import ABC

class vehicle(ABC):
    def no_of_wheels():
        pass
    
    def m1():
        print('m1 method')

In [129]:
class Bike(vehicle):
    
    def no_of_wheels():
        print('Bike has 2 wheels')

In [130]:
class Auto(vehicle):
    
    def no_of_wheels(self):
        print('Auto has 3 wheels')

In [132]:
class car(vehicle):
    def no_of_wheels(self):
        print('car has 4 wheels')

In [133]:
bike = Bike()

In [140]:
Bike.no_of_wheels()

Bike has 2 wheels

In [138]:
auto = Auto()

In [139]:
auto.no_of_wheels()

Auto has 3 wheels

In [141]:
car = car()

In [142]:
car.no_of_wheels()

car has 4 wheels

In [143]:
len('hello')

5

In [144]:
len([1,2,3])

3

In [145]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

# Inheritance

In [1]:
class empy1():
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
class empy2(empy1):
    def __init__(self, name, age):
        
        self.name = name
        self.age = age

In [2]:
emp1 = empy1('neha', 25)

In [3]:
print(emp1.age)

25

In [4]:
print(emp1.name)

neha

In [5]:
class empy1():
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
        
class empy2(empy1):
    def __init__(self, name, age, salary):
        
        self.name = name
        self.age = age
        self.salary = salary
class empy3(empy2):
    def __init__(self, name, age, salary):
        
        self.name = name
        self.age = age
        self.salary = salary

In [7]:
emp1 = empy1('neha', 25, 3000)
emp2 = empy2('neh', 26, 2000)

In [8]:
emp1.age

25

In [9]:
emp2.age

26

In [10]:
emp1.salary

3000

In [11]:
emp2.salary

2000

Hierarchical Inheritance

In [12]:
emp1 = empy1('neha', 25, 3000)
emp2 = empy2('neh', 26, 2000)

In [14]:
emp1 = empy1('neha', 25, 3000)
emp2 = empy1('neh', 26, 2000)

In [15]:
emp2.age

26

In [18]:
emp1.age

25


Multiple inheritance

In [19]:
class empy1():
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary
        
class empy2():
    def __init__(self, name, age, salary):
        
        self.name = name
        self.age = age
        self.salary = salary
class empy3(empy1, empy2):
    def __init__(self, name, age, salary):
        
        self.name = name
        self.age = age
        self.salary = salary

In [20]:
emp1 = empy1('neha', 25, 3000)
emp2 = empy2('neh', 26, 2000)

In [21]:
emp1.age

25

In [22]:
emp2.salary

2000

creat object and class

In [23]:
class empy1():
    def __init__(self, name, age, salary):
        self.name = name
        self.age = age
        self.salary = salary

In [24]:
emp1 = empy1('neha', 25, 3000)
emp2 = empy1('neh', 26, 2000)

In [26]:
print(emp1.__dict__)

{'name': 'neha', 'age': 25, 'salary': 3000}

Abstraction

In [2]:
from abc import ABC
class empy(ABC):
    def emp_id(self, id, name, age, salary):
        pass 
class childempy(empy):
    def emp_id(self, id):
        print("emp_id is 1234")

In [3]:
emp1 = childempy()

In [5]:
emp1.emp_id(id)

emp_id is 1234