In [1]:
#pip install pandas

In [16]:
import pandas as pd

In [17]:
pd.__version__

'1.4.4'

In [18]:
import numpy as np

In [19]:
a = np.array([10,20,30,40])
a

array([10, 20, 30, 40])

In [20]:
type(a)

numpy.ndarray

In [21]:
b = pd.Series(a)
print(b)

0    10
1    20
2    30
3    40
dtype: int32

In [22]:
type(b)

pandas.core.series.Series

In [23]:
b = pd.Series([10,20,30,40])
b

0    10
1    20
2    30
3    40
dtype: int64

In [24]:
l = [10,20,30,40,50]
l1 = ['a','b','c','d','e']
b = pd.Series(l, index = l1)
print(b)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [25]:
b.values

array([10, 20, 30, 40, 50], dtype=int64)

In [26]:
b['a'], b['e']

(10, 50)

In [27]:
b[0], b[1]

(10, 20)

In [28]:
'a', a

('a', array([10, 20, 30, 40]))

In [29]:
a = 5

In [30]:
a

5

In [31]:
'a'

'a'

In [32]:
b.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [33]:
b.values

array([10, 20, 30, 40, 50], dtype=int64)

In [34]:
b

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [35]:
b[0], b[1],b[2],b[3]

(10, 20, 30, 40)

In [36]:
d = {'a':10, 'b':20}
d

{'a': 10, 'b': 20}

In [37]:
d.keys()

dict_keys(['a', 'b'])

In [38]:
type(b)

pandas.core.series.Series

In [39]:
b

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [40]:
b.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [41]:
b.values

array([10, 20, 30, 40, 50], dtype=int64)

In [42]:
b

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [43]:
b['a'], b['e'] #accessing using label

(10, 50)

In [44]:
b[0]

10

In [45]:
a

5

In [46]:
'a', a

('a', 5)

Creating a series with a dictionary

In [47]:
d = {'a':10, 'b':20}
d

{'a': 10, 'b': 20}

In [48]:
d.keys()

dict_keys(['a', 'b'])

In [49]:
d.values()

dict_values([10, 20])

In [50]:
e = pd.Series(d)
e

a    10
b    20
dtype: int64

Creating  a stories of typedatetime

In [51]:
dates_series = pd.date_range(start='11-09-2017',end='12-12-2017')
dates_series

DatetimeIndex(['2017-11-09', '2017-11-10', '2017-11-11', '2017-11-12',
               '2017-11-13', '2017-11-14', '2017-11-15', '2017-11-16',
               '2017-11-17', '2017-11-18', '2017-11-19', '2017-11-20',
               '2017-11-21', '2017-11-22', '2017-11-23', '2017-11-24',
               '2017-11-25', '2017-11-26', '2017-11-27', '2017-11-28',
               '2017-11-29', '2017-11-30', '2017-12-01', '2017-12-02',
               '2017-12-03', '2017-12-04', '2017-12-05', '2017-12-06',
               '2017-12-07', '2017-12-08', '2017-12-09', '2017-12-10',
               '2017-12-11', '2017-12-12'],
              dtype='datetime64[ns]', freq='D')

Indexing series

In [52]:
l = [10,20,30,40,50,60]

In [53]:
l[0]

10

In [54]:
s = pd.Series(l)
s

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [55]:
s[0]

10

In [56]:
s[2]

30

In [57]:
s[2:]

2    30
3    40
4    50
5    60
dtype: int64

In [58]:
s = pd.Series()
s

C:\Users\Yuvaraj\AppData\Local\Temp\ipykernel_1308\3032608601.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

Series([], dtype: float64)

Creating dataframe from  dictionary

In [59]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

Differnt DataFrame using Dictonary

In [57]:
data = {
    'Name' : ['ajay','atul', 'arun', 'raj'],
    'Age' :  [24,25,26,64]
}
data

{'Name': ['ajay', 'atul', 'arun', 'raj'], 'Age': [24, 25, 26, 64]}

In [61]:
df = pd.DataFrame(data)
df

   Name  Age
0  ajay   24
1  atul   25
2  arun   26
3   raj   64

In [72]:
data = {
    'col1' : ['items1', 'item2', 'item3', 'item4'],
    'col2' : ['items1', 'item2', 'item3', 'item4'],
    'col3' : ['items1', 'item2', 'item3', 'item4'],
    'col4' : ['items1', 'item2', 'item3', 'item4']
    
}
data

{'col1': ['items1', 'item2', 'item3', 'item4'],
 'col2': ['items1', 'item2', 'item3', 'item4'],
 'col3': ['items1', 'item2', 'item3', 'item4'],
 'col4': ['items1', 'item2', 'item3', 'item4']}

In [73]:
df = pd.DataFrame(data)
df

     col1    col2    col3    col4
0  items1  items1  items1  items1
1   item2   item2   item2   item2
2   item3   item3   item3   item3
3   item4   item4   item4   item4

In [77]:
sample_df = pd.DataFrame(data)
df

     col1    col2    col3    col4
0  items1  items1  items1  items1
1   item2   item2   item2   item2
2   item3   item3   item3   item3
3   item4   item4   item4   item4

Info

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    4 non-null      object
 1   col2    4 non-null      object
 2   col3    4 non-null      object
 3   col4    4 non-null      object
dtypes: object(4)
memory usage: 256.0+ bytes

In [78]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    4 non-null      object
 1   col2    4 non-null      object
 2   col3    4 non-null      object
 3   col4    4 non-null      object
dtypes: object(4)
memory usage: 256.0+ bytes

In [79]:
type(sample_df)

pandas.core.frame.DataFrame

Creating DataFrame using Tuple

In [107]:
data = [
    ('1/1/2019','23','6','Rain'),
    ('2/1/2019','11','7','Fog'),
    ('3/1/2019','26','8','sunny'),
    ('4/1/2019','13','9','snow')
]
data

[('1/1/2019', '23', '6', 'Rain'),
 ('2/1/2019', '11', '7', 'Fog'),
 ('3/1/2019', '26', '8', 'sunny'),
 ('4/1/2019', '13', '9', 'snow')]

In [108]:
df = pd.DataFrame(data)
df

          0   1  2      3
0  1/1/2019  23  6   Rain
1  2/1/2019  11  7    Fog
2  3/1/2019  26  8  sunny
3  4/1/2019  13  9   snow

In [132]:
df = pd.DataFrame(data, columns=['Day', 'Temperature', 'Windspeed','Event'])
df

        Day Temperature Windspeed  Event
0  1/1/2019          23         6   Rain
1  2/1/2019          11         7    Fog
2  3/1/2019          26         8  sunny
3  4/1/2019          13         9   snow

In [7]:
df.T

NameError: name 'df' is not defined

In [111]:
df

        Day Tmperature Windspeed  Event
0  1/1/2019         23         6   Rain
1  2/1/2019         11         7    Fog
2  3/1/2019         26         8  sunny
3  4/1/2019         13         9   snow

In [134]:
df.T

                    0         1         2         3
Day          1/1/2019  2/1/2019  3/1/2019  4/1/2019
Temperature        23        11        26        13
Windspeed           6         7         8         9
Event            Rain       Fog     sunny      snow

In [135]:
df.dtypes

Day            object
Temperature    object
Windspeed      object
Event          object
dtype: object

In [136]:
df.columns

Index(['Day', 'Temperature', 'Windspeed', 'Event'], dtype='object')

In [137]:
df = pd.DataFrame(data, columns=['Day', 'Temperature', 'Windspeed','Event'], index=['a','b','c','d'])
df

        Day Temperature Windspeed  Event
a  1/1/2019          23         6   Rain
b  2/1/2019          11         7    Fog
c  3/1/2019          26         8  sunny
d  4/1/2019          13         9   snow

In [138]:
df.shape

(4, 4)

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          4 non-null      object
 1   Temperature  4 non-null      object
 2   Windspeed    4 non-null      object
 3   Event        4 non-null      object
dtypes: object(4)
memory usage: 160.0+ bytes

head-by default head return first 5row

In [140]:
df.head()

        Day Temperature Windspeed  Event
a  1/1/2019          23         6   Rain
b  2/1/2019          11         7    Fog
c  3/1/2019          26         8  sunny
d  4/1/2019          13         9   snow

In [141]:
df.head(3)

        Day Temperature Windspeed  Event
a  1/1/2019          23         6   Rain
b  2/1/2019          11         7    Fog
c  3/1/2019          26         8  sunny

In [142]:
df.tail(3)

        Day Temperature Windspeed  Event
b  2/1/2019          11         7    Fog
c  3/1/2019          26         8  sunny
d  4/1/2019          13         9   snow

Statistics

In [143]:
df

        Day Temperature Windspeed  Event
a  1/1/2019          23         6   Rain
b  2/1/2019          11         7    Fog
c  3/1/2019          26         8  sunny
d  4/1/2019          13         9   snow

In [124]:
df['Day']

a    1/1/2019
b    2/1/2019
c    3/1/2019
d    4/1/2019
Name: Day, dtype: object

In [125]:
df['Event']

a     Rain
b      Fog
c    sunny
d     snow
Name: Event, dtype: object

In [127]:
df[['Day', 'Event']]

        Day  Event
a  1/1/2019   Rain
b  2/1/2019    Fog
c  3/1/2019  sunny
d  4/1/2019   snow

In [144]:
df['Temperature']

a    23
b    11
c    26
d    13
Name: Temperature, dtype: object

In [145]:
type(df['Temperature'])

pandas.core.series.Series

In [6]:
df

NameError: name 'df' is not defined

In [3]:
df.sum()

NameError: name 'df' is not defined

axis 1-row wise sum

In [150]:
df.sum(axis = 0)

Day            1/1/20192/1/20193/1/20194/1/2019
Temperature                            23112613
Windspeed                                  6789
Event                          RainFogsunnysnow
dtype: object

In [151]:
df.sum()

Day            1/1/20192/1/20193/1/20194/1/2019
Temperature                            23112613
Windspeed                                  6789
Event                          RainFogsunnysnow
dtype: object

In [152]:
df.sum(axis = 1)

a     1/1/2019236Rain
b      2/1/2019117Fog
c    3/1/2019268sunny
d     4/1/2019139snow
dtype: object

In [153]:
df

        Day Temperature Windspeed  Event
a  1/1/2019          23         6   Rain
b  2/1/2019          11         7    Fog
c  3/1/2019          26         8  sunny
d  4/1/2019          13         9   snow

In [154]:
df['Temperature'].sum()

'23112613'

Mean

In [166]:
df.mean()

C:\Users\Yuvaraj\AppData\Local\Temp\ipykernel_11136\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Temperature    5778153.25
Windspeed         1697.25
dtype: float64

In [167]:
df['Temperature'].mean()

5778153.25

In [168]:
df['Windspeed'].mean()

1697.25

median

In [169]:
df.median()

C:\Users\Yuvaraj\AppData\Local\Temp\ipykernel_11136\530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Temperature    18.0
Windspeed       7.5
dtype: float64

In [170]:
df['Temperature'].median()

18.0

std()

In [174]:
df.std()

C:\Users\Yuvaraj\AppData\Local\Temp\ipykernel_11136\3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Series([], dtype: float64)

In [175]:
df.std()

C:\Users\Yuvaraj\AppData\Local\Temp\ipykernel_11136\3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Series([], dtype: float64)

describe()-summary of the data

In [181]:
df.describe()

             Day Temperature Windspeed Event
count          4           4         4     4
unique         4           4         4     4
top     1/1/2019          23         6  Rain
freq           1           1         1     1

max-return the maximum values

In [182]:
df

        Day Temperature Windspeed  Event
a  1/1/2019          23         6   Rain
b  2/1/2019          11         7    Fog
c  3/1/2019          26         8  sunny
d  4/1/2019          13         9   snow

In [183]:
df.max()

Day            4/1/2019
Temperature          26
Windspeed             9
Event             sunny
dtype: object

In [184]:
df['Temperature'].max()

'26'

min-return the minimum values

In [185]:
df.min()

Day            1/1/2019
Temperature          11
Windspeed             6
Event               Fog
dtype: object

In [186]:
df['Temperature'].min()

'11'

Working with .csv

In [187]:
df = pd.read_csv('Iris.csv')
df

FileNotFoundError: [Errno 2] No such file or directory: 'Iris.csv'